.todo-done{
    text-decoration: line-through;
}

.input-field{
    padding: 0 5px;
    font-size: 25px;
    width: 360px;
    height: 46px;
    border: 1px solid black;
    outline: none;
}

.btn{
    height: 48px;
    width: 46px;
    vertical-align: top;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 30px;

}

.btn:hover{
    background-color: #3f51b5;
    color: white;
}

html, body{
    width: 50%;
    margin: 0 auto;
}

body{
    margin-top: 10px
}

.todo-list{
    padding: 0 5px;
    font-size: 25px;
    margin: 10px 0px;
}
p{
    cursor: pointer;
    margin: 15px 0 0 0;
}